@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /* popular collection title */
  .medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  /* popular section title */
  .semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  /* brand, banner title, featured title, feature details, button, footer titel */
  .bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
/* shared styles */
/* .header, main{
max-width: 1400px;
margin: 0 auto;
} */
section{
    margin-bottom: 100px;
}
.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    border: none;
}
.display-flex{
    display: flex;
}
/* navbar */
.navbar{
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: #3A3A3A;
    font-size: 1.5rem;
}
.list-item{
    margin-right: 34px;
    list-style: none;
}
.list-link{
    text-decoration: none;
    color: #000000;
}
/* hero section */
.hero{
    /* height: 475px; */
    justify-content: space-around;
}
.hero-info{
    max-width:582px ;
    align-items: center;
}
.hero-title{
    font-size: 3.25rem;
}
.hero-title,.hero-details{
    margin-bottom: 16px;
}
.hero-img{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
/* responsive */
/* small device */
@media screen and (max-width:576px) {
    .navbar,
    .list-items
    {
        flex-direction: column;
        text-align: center;
    }
    .hero{
        flex-direction: column-reverse;
        height: auto;
    }
    .hero-img{
        margin-bottom: 50px;
        margin: 0 auto;
    }
    .hero-info> .btn-primary{
        margin-bottom: 50px;
    }
}